body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: #fff;
    overflow: hidden;
    z-index: 1;
}
.logo {
    margin-left: 200px;
    padding: 20px;
}
.navbar {
    position: absolute;
    top: 0;
    right:0;
    margin-right: 200px ;
}
.navbar ul {
    list-style:none;
}
.navbar ul li {
    float: left;
    padding-right: 40px;
    padding-top: 10px;
}
.navbar ul li a {
    text-decoration: none;
    color: rgb(41, 41, 41);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.navbar ul li a:hover {
    color: #7f97ff;
}
.checkbtn {
    display: none;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.9);
    float: right;
    line-height: 80px;
    margin-right: -170px;
}
#check {
    display: none;
}
/* Section One Start */
.sec1 {
    background-color: #f9f9ff;
    width: 100%;
    height: 665px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 75px;
}
.sec1 .try {
    height: 200%;
}
.half1, .half2 {
    width: 50%;
}
.half1 {
    margin-left: 230px;
    margin-bottom: 120px;
}
.half2 {
    padding-right: 160px;
    margin-top: 50px;
}
.half2 img {
    max-width: 100%;
    height: auto;
}
.half1 h3 {
    font-weight: normal;
    display:flex;
    bottom: 0px;
}
.half1 h1 {
    font-size: 60px;
}
.half1 p {
    color:rgba(78, 78 , 78, 0.7)
}
.half1 input {
    padding: 8px 20px;
    background-color: #8393ff;
    outline: none;
    color: white;
    border: 1px solid #8393ff;
    font-size: 15px;
    cursor: pointer;
}
.half1 input:hover {
    box-shadow: 5px 10px 30px rgba(130, 147, 255, 0.5);
    transition: all 0.5s ease;
    outline: none;
}
/*Section One End */
/* Section Two Start */
    .sec2 {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec2 div {
        width: 40%;
        margin: 0 auto;
    }
    .sec2 img {
        width: 90%;
        height: auto;
    }
    .sec .img2 {
        padding-left: 150px;
    }
    .sec2 .text2 h3 {
        font-weight: bold;
        color: rgba(0, 0, 0, 0.7);
        font-size: 15px;
    }
    .sec2 .text2 h1 {
        font-weight: bold;
        font-size: 40px;
    }
    .sec2 .text2 p {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
        width: 80%;
    }
    .sec2 .text2 input {
        padding: 8px 20px;
        background-color: #8393ff;
        outline: none;
        color: white;
        border: 1px solid #8393ff;
        font-size: 15px;
    }
    .sec2 .text2 input:hover {
        box-shadow: 5px 10px 30px rgba(130, 147, 255, 0.5);
        transition: all 0.5s ease;
        outline: none;
    }
/* Section Two End */
/* Section Three Start */
.sec3 {
    width: 100%;
    height: 650px;
    margin: 0 auto;
    text-align: center;
}
.firsttext {
    text-align: center;
}
.firsttext h1 {
    font-size: 40px;
    line-height: 10px;
}
.firsttext p {
    width: 670px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
}
.service {
    width: 80%;
    margin: 0 auto;
    padding-top: 45px;
}
.srvs1, .srvs2 {
    width: 100%;
    overflow: hidden;
}
.srvs2 {
    padding-top: 30px;
}
.srvs1 div, .srvs2 div {
    width: 32%;
    float: left;
    padding: 5px ;
    margin: 0 auto;
}
.service i {
    font-size: 45px;
    color: rgba(0, 0, 0, 0.7);
}
.service h1 {
    color: rgba(0, 0, 0, 0.9);
}
.service p {
    color: rgba(0, 0, 0, 0.6);
}
.srvs1 div:hover {
    background-color: #8293ff;
    color: white;
}
.srvs1 div:hover {
    background-color: #8293ff;
}
.srvs1 div:hover i {
    color: white;
}

.srvs1 div:hover h1 {
    color: white;
}

.srvs2 div:hover p {
    color: white;
}
.srvs2 div:hover {
    background-color: #8293ff;
}
.srvs2 div:hover i {
    color: white;
}

.srvs2 div:hover h1 {
    color: white;
}

.srvs2 div:hover p {
    color: white;
}
/* Section Three End */
/* Section Four Start */
.sec4 {
    width: 100%;
    height: 300px;
    background-color: #8293ff;
}
.sec4 div {
    float: left;
    width: 20%;
    margin: 0 auto;
    position: relative;
    top: 100px ;
    left: 200px;
}
.sec4 h1 {
    font-size: 45px;
    line-height: 0px;
}
.sec4 .div4 {
    text-align: center;
    color: white;
}
/* Section Four End */
/* Portfolio Part Start */
.sec5{
    width: 100%;
    box-sizing: border-box;
}
.sec5 .text3 {
    text-align: center;
}
.sec5 .text3 h1 {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.9);
}
.sec5 .text3 .p1 {
    color: rgba(0, 0, 0, 0.7);
    margin-top: -20px;
    margin-bottom: 30px;
}
.sec5 .imgparents {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}
.sec5 .imgparents div {
    padding-bottom: 10px;
    text-align: center;
}
.sec5 .imgparents h1 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.9);
}
.sec5 .imgparents p {
    color: rgba(0, 0, 0, 0.7);
    line-height: 0;
}
.sec5 figure {
    background: linear-gradient(40deg, #8490ff 40%, #62bdfc 100%);
    overflow: hidden;
    width: 340px;
    height: 339px;
    margin: 0;
    padding: 0;
    border-radius: 3%;
}
.sec5 figure:hover img {
    opacity: 0.2;
    transition: all .3s ease-in;
    transform: scale(1.15)
}
/* Portfolio Part END */
/* Pricing Table Start */
.sec6 {
    width: 100%;
    height: 700px;
    padding-top: 50px;
}
.sec6 .text4 {
    text-align: center;
    padding: 2% 0;
}
.sec6 .text4 h1 {
    font-size: 40px;
    line-height: 0;
    padding-top: 15px;
}
.sec6 .text4 .heyp {
    color: rgba(0, 0, 0, 0.7);
}
.sec6 .parentsdiv {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.sec6 .card1 {
    width: 300px;
    height: 600px;
    background-color: rgb(249, 249, 255);
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.sec6 .card1 h1 {
    font-size: 50px;
    padding-top: 8px;
}
.sec6 .card1 .price {
    font-size: 40px;
}
.sec6 .card1 input {
    outline: none;
    background-color: #8293ff;
    color: #fff;
    font-size: 25px;
    padding: 6px 60px;
    font-weight: bold;
    border: 1px solid white;
    cursor: pointer;
}
.sec6 .card1:hover {
    background-color: #8293ff;
    color: white;
    transition: all 0.25s ease;
    transform: scale(1.05);
    border: 1px solid rgba(130, 147, 255, 0.5);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
}
.sec6 .card1:hover input{
    color: rgba(0, 0, 0, 0.9);
    background-color: white;
}
/* Pricing Table End */
/* Footer Start */
footer {
    background-color: rgb(4, 9, 30);
    width: 100%;
    height: 400px;
    position: absolute;
    color: #fff;
    margin-top: 200px;
}
footer .footparents {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 120px;
}
footer .footparents .foot1 p {
    color: rgba(255, 255, 255, 0.5); 
}
footer .footparents .foot1 input {
    font-size: 15px;
    outline: none;
    border: none;
    padding: 10px 150px 10px 10px;
}
footer .footparents .foot1 button {
    font-size: 18px;
    color: #fff;
    background-color: #8293ff;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
}
footer .footparents .foot1 i {
    font-size: 15px;
    cursor: pointer;
    padding: 2px 5px;
}
footer .footparents .foot1 i:hover {
    color: #8293ff;
}
/* Footer End */
/* Bars Part Start */
@media (max-width:768px){
    header {
        width: 100%;
        height: auto;
    }
    header .logo {
        margin-left: 30px;
        padding: 20px;
    }
    .checkbtn {
        display: block;
    }
    header .navbar ul {
        position:fixed;
        width: 100%;
        height: 380px;
        background: #fff;
        top: 54px;
        left: -200%;
        transition: all 0.5s;
    }
    header .navbar ul li {
        line-height: 30px;
        clear: both;
        margin-top: 15px;
    }
    #check:checked ~ ul {
        left: 0;
        background-color: #e28dfc;
    }
    header .navbar ul li a {
        font-size: 20px;
        text-align: center;
        color: #fff;
    }
}
/* Bars Part End */
/* Mobile responsive view start */
@media (max-width:768px){
    .sec1 {
        width: 100%;
        display: block;
        height: auto;
    }
    .sec1 .try {
        background-color: #fff;
        font-size: 25px;
        font-weight: bold;
        position: relative;
        text-align: center;
        top: 90px;
    }
    header .navbar i {
        position: relative;
        right: -300px;
    }
    .half1 {
        margin: auto;
        padding: 0;
    }
    .half1 h3 {
        font-size: 15px;
    }
    .half1 h1 {
        font-size: 30px;
    }
    .half2 img {
        margin-left: 90px;
        margin-top: 30px;
        max-width: 100%;
        height: auto;
    }
    /*
    .text2 {
        position: relative;
        bottom: -50px;
    }
    */
   .sec2 {
    display: block;
    width: 100%;
    height: 100vh;
    top: 150px;
    position:relative;
   } 
   .sec2 img {
    position: relative;
    left: 26px;
   }
   .sec2 div {
    width: 100%;
   }
   .text2 {
    position: relative;
    left: 15px;
    text-align: center !important;
   }
   .text2 h3 {
    position: relative;
    left: -12px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
   }
   .text2 p {
    position: relative;
    left: 20px;
    color: rgba(0, 0, 0, 0.9);
   }
   .text2 h1 {
    position: relative;
    left: -12px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.9);
   }
   .sec3 {
    width: 100%;
    height: auto;
    position: relative;
    top: -60px;
   }
.sec3 .firsttext .ohp {
    width: 80%;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}
.srvs1 div, .srvs2 div {
    clear: left;
    position: relative;
    width: 100%;
    height: auto;
}
.sec4 {
    width: 100%;
    height: 620px;
}
.sec4 .div4 {
    clear: left;
    position: relative;
    text-align: center;
    left: 165px;
}
.sec4 .div4 h1, .upps {
    position: relative;
    bottom: 50px;
}
.sec5 .imgparents {
    width: 100%;
}
.sec6 .text4 {
    position: relative;
    bottom: 40px;
}
.sec6 .parentsdiv {
    display: block;
    width: 100%;
    height: 100vh;
    position: relative;
    left: 60px;
}
.sec6 .parentsdiv #cart2 {
    position: relative;
    top: 18px;
}
.sec6 .parentsdiv #cart3 {
    position: relative;
    top: 36px;
}
.sec6 .parentsdiv #cart4 {
    position: relative;
    top: 54px;
}
footer {
    width: 100%;
    height: 500px;
    position: relative;
    top: 110em;
}
footer .footparents {
    display: block;
    position: relative;
    top: 50px;
    text-align: center;
}
.foot1 .abp {
    width: 100%;
}
footer .footparents .foot1 input{
    width: 50%;
}
footer .footparents {
    height: 10%;
}
}
/* Mobile responsive view End */

